@import "Switcher.css";
@import "Today.css";
@import "Week.css";

html,
body {
  margin: 0;
  min-width: 500px;
  color: white;
  font-family: "Abel", sans-serif;
}
#root {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.weather-content-today,
.weather-content-week {
  padding: 0 20px;
}
