@import "Switcher.css";
@import "Today.css";
@import "Week.css";

html, body {
  margin: 0 auto;
  min-width: 500px;
}
#root {
  text-align: center;
}

a{
  text-decoration: none;
}

li{
 list-style: none;
}


