@import "Switcher.css";
@import "Today.css";
@import "Week.css";

html,
body {
  margin: 0;
  min-width: 500px;
  color: white;
  font-family: "Abel", sans-serif;
}
#root {
  text-align: center;
}
h2 {
    font-size: 3em;
    margin-bottom: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.weather-content{
  padding: 0 20px;
  height: 100vh;
}

.Clear,
.Thunderstorm,
.Drizzle,
.Rain,
.Snow,
.Mist,
.Clouds {
  background-repeat: no-repeat;
  background-size: cover;
}

.Clear {
  background-image: url("../media/clear-sky.jpg");
}
.Thunderstorm {
  background-image: url("../media/thunderstorm.jpg");
}
.Drizzle {
  background-image: url("../media/drizzle.jpg");
}
.Rain {
  background-image: url("../media/rain.jpg");
}
.Snow {
  background-image: url("../media/snow.jpg");
}
.Mist {
  background-image: url("../media/mist.jpg");
}
.Clouds {
  background-image: url("../media/clouds.jpg");
}