.today-weather-card {
  display: inline-flex;
  width: 65em;
  overflow-x: auto;
  white-space: nowrap;
}
.today-details-card {
  display: flex;
}

.today-weather-card > ul,
.today-details-card > ul {
  padding: 20px;
  margin-left: 5px;
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.75);
}


