.week-weather-card {
  display: inline-flex;
  display: inline-flex;
  width: 65em;
  overflow-x: auto;
}

.week-weather-card > ul {
  padding: 20px;
  margin-left: 5px;
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.75);
}

.weather-content-week {
  background: lightblue;
}
